<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brand API</title>
</head>
<body>
    <h1>How to use:</h1>
    <strong>GET /brand</strong>  - get all brands<br/>
    <strong>GET /brand/{id}</strong>  - get brand by id<br/>
    <strong>POST /brand, body should contain "brand" parameter</strong>  - add new brand<br/>
    <strong>PUT /brand/{id}, body should contain "brand" parameter</strong>  - change brand by id<br/>
    <strong>DELETE /brand/{id}, body should contain "brand" parameter</strong>  - delete brand by id<br/>
</body>
</html>